html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: "Inter", sans-serif;
}

* {
  box-sizing: border-box;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding: 0 0.25em;
  margin-top: 1rem;
}

.brand {
  font-size: 20pt;
  font-weight: bold;
}

.social-media {
}

.nav-link {
  text-decoration: none;
  margin-right: 10px;
}

.nav-link img {
  width: 40px;
  height: 40px;
}

.searchbar {
  display: inline-flex;
}

.searchbar input {
  margin-right: 10px;
  height: 35px;
  border: none;
  border-bottom: 1px solid black;
}

.searchbar svg {
  width: 20px;
  height: 20px;
}

.btn-search {
  width: 35px;
  height: 35px;
  background-color: #212121;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
